.site-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 62px;
}
.site-nav-list{
    display: flex;
    margin-top: 0;
}
.nav-list__item{
    list-style: none;
    margin-right: 44px;

}
.nav-list__item:not(:last-child){
    margin-right: 44px;
}
.nav-list__link{
    text-decoration: none;
    text-transform: uppercase;
}
.nav-login{
    color: #fff;
    background-color: $deco-red;
    padding: 12px 32px 12px 32px;
    border-radius: 5px;
    border: $deco-red 2px solid;
    box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
    &:hover{
        background-color: transparent;
        color: $deco-red;

    }
}
